@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --primary-color: #00bfff;
    --secondary-color: #2563EB;
    --text-color: #f5f5f5; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 55%;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 2rem;
    text-align: center;
}

.container .description {
    font-size: 2rem;
    font-weight: 500;
    padding: 2rem;
}

.container #triangle-img {
    width: 250px;
    height: 170px;
    margin: 1rem;
}

.container .input {
    margin: 0rem 1rem;
}

.input label {
    position: relative;
    left: 7px;
}

.input input {
    padding: 0.5rem;
    margin: 1rem 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    width: 88px;
    height: 44px;
    border: 2px solid black;
}

.container #submit-btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    margin: 1rem 0rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.container #submit-btn:hover {
    background-color: var(--primary-color);
    color: black;
    border: 2px solid black;
}

.container #output-info {
    font-size: 1.5rem;
    margin: 1rem 0rem;
}

.container .output {
    font-size: 1.3rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 2px solid black;
    padding: 1.5rem;
    margin: 1rem 0rem;
}

.output .formula-label {
    display: inline-block;
    font-weight: bold;
}

.output .hypShowHere {
    display: inline;
}

/* Links */
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: var(--text-color);
}

/* Navigation Lists */
.list-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    background-color: var(--primary-color);
    padding: 1rem;
}

.navigation .nav-pills {
    text-align: right;
    font-size: 1rem;
}

/* Footer */
.footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 0.5rem 0rem;
    text-align: center;
    margin: 1.5rem auto 0rem auto;
    box-shadow: 0px 0px 10px 2px var(--box-shadow);
}

.footer .footer-content {
    padding: 0.5rem 1rem;
    text-align: center;
}

.footer-content .other-page-social-media {
    padding: 0rem 1rem;
    margin: 0.5rem 0rem;
}

.footer-content #other-page-footer-para {
    font-size: 1.2rem;
    margin: 0.5rem 1rem;
}

.footer-content .other-page-social-list-inline {
    display: inline-block;
    text-align: center;
    padding: 0rem 0.3rem;
}

.footer-content .other-page-social-list-inline .icon {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: table-cell;
    vertical-align: middle;
    background: var(--primary-color);
    color: var(--text-color);
}

.footer-content .other-page-social-list-inline .social-link {
    text-decoration: none;
}

.footer-content .other-page-social-list-inline .icon ion-icon {
    font-size: 1.6rem;
}


/* Responsive CSS for Mobile */
@media only screen and (max-width: 760px) {
    .container {
        max-width: 80%;
    }

    .link {
        padding: 0.5rem;
    }

    .navigation .nav-pills {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 522px) {
    .input input {
        width: 60px;
        height: 30px;
        margin: 1rem 0.3rem;
        padding: 0.3rem;
    }

    .container #triangle-img {
        width: 200px;
        height: 136px;
    }

    .container .description {
        font-size: 1.2rem;
    }

    .container #output-info {
        font-size: 1.2rem;
    }

    .container .output {
        font-size: 1rem;
    }

    .link {
        padding: 0.5rem 0rem;
    }

    .navigation .nav-pills {
        font-size: 0.65rem;
    }
}

@media only screen and (max-width: 394px) {
    .input input {
        width: 40px;
        height: 30px;
    }

    .navigation .nav-pills  {
        font-size: 0.5rem;
    }

    .footer-content #other-page-footer-para {
        font-size: 0.9rem;
    }

    .footer-content .other-page-social-list-inline .icon {
        height: 1.8rem;
        width: 1.8rem;
    }
}